<h1>Brackets</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for = "competitionName">Competition Name:</label>
                <input id = "competitionName" class="form-control" [(ngModel)] = "competitionName" />
                <button (click) = "createCompetition()"> Create </button>   
            </div>   
        </div>    
    </div>
    <div class="row">
        <div class="col-md-6">
            <h1>{{competition != null ? competition.Name : ""}}</h1>
        </div>
    </div>
    <div class="row" [class.disabledbutton]="isDisabled">
        <div class="col-md-6">
            <div class="form-group">
                <label for = "participantName">Participant Name:</label>
                <input id = "participantName" class="form-control" [(ngModel)] = "participantName" />
                <button (click) = "addParticipant()"> Add </button>
            </div>
        </div>    
    </div>
    <h1>Participants</h1>
    <participants-list #participantsList>Loading...</participants-list>
    <h1>Matches</h1>
    <matches-list #matchesList>Loading...</matches-list>
    <h1>Brackets</h1>
    <brackets #brackets>Loading....</brackets>
</div>
